<%= turbo_frame_tag dom_id(message.chat, :input), class: "w-full" do %>
  <%= form_with(model: message, class: "w-full") do |form| %>
    <% if message.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

        <ul>
          <% message.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="flex flex-row join">
      <%= form.hidden_field :chat_id, value: message.chat_id %>
      <% if message.chat.accounts.include?(current_account) %>
        <%= form.text_field :text, class: "grow join-item bg-base-100 input input-bordered input-accent" %>
        <%= form.submit "Send", class: "btn btn-primary join-item" %>
      <% else %>
        <%= form.text_field :text, disabled: true, placeholder: "You have not joined this chat. Input disabled.", class: "grow join-item bg-base-100 input input-bordered input-accent" %>
        <%= form.submit "Send", disabled: true, class: "btn btn-primary join-item" %>
      <% end %>
      
    </div>
  <% end %>
<% end %>
