<%= turbo_frame_tag dom_id(message.chat, :input), class: "w-full" do %>
  <%= form_with(model: message, class: "w-full") do |form| %>
    <div class="flex flex-row join">
      <%= form.hidden_field :chat_id, value: message.chat_id %>
      <% if message.chat.accounts.include?(current_account) %>
        <%= form.text_field :text, autocomplete: 'off', data: { controller: "autofocus"}, class: "grow join-item bg-base-100 input input-bordered input-accent" %>
        <%= form.submit "Send", class: "btn btn-primary join-item" %>
      <% else %>
        <%= form.text_field :text, disabled: true, placeholder: "You have not joined this chat. Input disabled.", class: "grow join-item bg-base-100 input input-bordered input-accent" %>
        <%= form.submit "Send", disabled: true, class: "btn btn-primary join-item" %>
      <% end %>
    </div>
  <% end %>
<% end %>
