<%= turbo_frame_tag dom_id(message.chat, :input), class: "max-w-screen w-full" do %>
  <%= form_with(model: message, class: "w-full max-w-full flex md:space-x-2", data: {controller: "typing"}) do |form| %>
    <% if message.chat.accounts.include?(account) %>
        <div class="w-full">
            <%= form.hidden_field :chat_id, value: message.chat_id %>
            <%= form.hidden_field :content, id: form.field_id(:content), value: form.object.content.try(:to_trix_html) || form.object.content %>
            <% if message.chat.chat_users.find_by(user_id: account.id).group != "silent" %>
                <rhino-editor data-controller="wysiwyg" class="h-full max-h-64 md:w-full rhino-editor" accept="image/*"
                    input="<%= form.field_id(:content) %>"
                    data-blob-url-template="<%= rails_service_blob_url(":signed_id", ":filename") %>"
                    data-direct-upload-url="<%= rails_direct_uploads_url %>"
                >
                    <input id="modeswitch" slot="toolbar-start" data-role="toolbar-item" type="checkbox" class="toggle toggle-xs self-center" />
                    <% if message.errors.size > 0 %>
                        <%= form.submit "==>", 
                            tabindex: -1, 
                            slot: "toolbar-end",
                            data: {role: "toolbar-item"},
                            class: "btn btn-sm btn-error" %>
                    <% else %>
                        <%= form.submit "==>", 
                            tabindex: -1, 
                            slot: "toolbar-end",
                            data: {role: "toolbar-item"},
                            class: "btn btn-primary btn-sm" %>
                    <% end %>
                </rhino-editor>
            <% else %>
                <div disabled class="w-full h-24">You have been silenced.<div>
            <% end %>
        </div>
      <% else %>
        <div class="w-full">
            <input type="text" disabled placeholder="You have not joined this chat. Input disabled." class="min-w-full join-item bg-base-100 prose input input-disbled input-bordered input-accent">        
        </div>
      <% end %>
  <% end %>
<% end %>
