<div class="flex flex-col items-center h-screen overflow-hidden pt-8">
    <div class="w-full p-6 bg-base-200 border-t-4 border-accent rounded-md shadow-md border-top lg:max-w-lg">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, class: "space-x-y") do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="field">
              <label class="label">
                    <span class="text-base label-text">Email</span>
              </label>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full input input-bordered bg-base-300 focus:bg-base-300" %>
            </div>

            <div class="field">
              <label class="label">
                  <span class="text-base label-text">New Password</span>
              </label>
              <%= f.password_field :password, autocomplete: "new-password", class: "w-full input input-bordered bg-base-300 focus:bg-base-300" %>
            </div>
            <div class="field">
              <label class="label">
                  <span class="text-base label-text">Password Confirmation</span>
              </label>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full input input-bordered bg-base-300 focus:bg-base-300" %>
            </div>

            <div class="field">
              <label class="label">
                  <span class="text-base label-text">Current Password</span>
              </label>
              <%= f.password_field :current_password, autocomplete: "current-password", class: "w-full input input-bordered bg-base-300 focus:bg-base-300" %>
            </div>

            <div class="pt-2">
                <%= f.submit "Update", class: "btn btn-block btn-accent" %>
            </div>
        <% end %>
    </div>
</div>

