<div class="flex flex-col items-center pt-8">
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <div class="w-full pb-4 p-6 bg-base-200 border-t-4 border-accent rounded-md shadow-md border-top lg:max-w-lg">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, class: "space-x-y") do |f| %>
        <div class="field">
          <label class="label">
                <span class="text-base label-text">Default Name</span>
          </label>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "w-full input input-bordered bg-base-300 focus:bg-base-300" %>
        </div>
        <div class="field">
          <label class="label">
                <span class="text-base label-text">Default Acronym</span>
          </label>
          <%= f.text_field :acronym, autocomplete: "acronym", class: "w-full input input-bordered bg-base-300 focus:bg-base-300" %>
        </div>
        <div class="field">
          <label class="label">
                <span class="text-base label-text">Default Prefix</span>
          </label>
          <%= f.text_field :quirk_prefix, autocomplete: "prefix", class: "w-full input input-bordered bg-base-300 focus:bg-base-300" %>
        </div>
        <div class="field">
          <label class="label">
                <span class="text-base label-text">Default Color</span>
          </label>
          <%= f.text_field :color, autocomplete: "color", class: "w-full input input-bordered bg-base-300 focus:bg-base-300" %>
        </div>
        <div class="pt-2">
          <%= f.submit "Update Defaults", class: "btn btn-block btn-accent" %>
        </div>
      <% end %>
    </div>
    <div class="w-full p-6 bg-base-200 border-t-4 border-accent rounded-md shadow-md border-top lg:max-w-lg">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, class: "space-x-y") do |f| %>
            <div class="field">
              <label class="label">
                    <span class="text-base label-text">Email</span>
              </label>
              <%= f.email_field :email, autocomplete: "email", class: "w-full input input-bordered bg-base-300 focus:bg-base-300" %>
            </div>

            <div class="field">
              <label class="label">
                  <span class="text-base label-text">New Password</span>
              </label>
              <%= f.password_field :password, autocomplete: "new-password", class: "w-full input input-bordered bg-base-300 focus:bg-base-300" %>
            </div>
            <div class="field">
              <label class="label">
                  <span class="text-base label-text">Password Confirmation</span>
              </label>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full input input-bordered bg-base-300 focus:bg-base-300" %>
            </div>

            <div class="field">
              <label class="label">
                  <span class="text-base label-text">Current Password</span>
              </label>
              <%= f.password_field :current_password, autocomplete: "current-password", class: "w-full input input-bordered bg-base-300 focus:bg-base-300" %>
            </div>

            <div class="pt-2">
                <%= f.submit "Update Account", class: "btn btn-block btn-accent" %>
            </div>
        <% end %>
    </div>
</div>

