<div class="flex flex-col items-center h-screen overflow-hidden pt-8">
    <div class="w-full p-6 bg-base-200 border-t-4 border-accent rounded-md shadow-md border-top lg:max-w-lg">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, class: "space-y-4") do |f| %>
            <%= f.hidden_field :reset_password_token %>
            <div class="field">
              <label class="label">
                  <span class="text-base label-text">Password</span>
              </label>
              <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "w-full input input-bordered bg-base-300 focus:bg-base-300" %>
            </div>
            <div class="field">
              <label class="label">
                  <span class="text-base label-text">Password Confirmation</span>
              </label>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full input input-bordered bg-base-300 focus:bg-base-300" %>
            </div>
            <div class="pt-2">
                <%= f.submit "Change Password", class: "btn btn-block btn-accent" %>
            </div>
        <% end %>
        <div class="pt-8 flex flex-row justify-between place-content-between text-center">
          <%= render "devise/shared/links" %>
        </div>
    </div>
</div>
