<%= turbo_frame_tag @chat, class: "w-screen h-screen" do %>
  <% if !log %>
    <%= turbo_stream_from dom_id(@chat) %>
    <%= turbo_stream_from "#{dom_id(@chat)}_#{dom_id(current_account)}" %>
    <div id="chat" class="flex md:flex-row-reverse h-screen overflow-hidden">
        <!-- Sidebar -->
        <div class="w-1/4 bg-base-100 border-r border-neutral hidden md:block">
          <!-- Sidebar Header -->
          <header class="p-4 border-b border-neutral flex justify-between items-center bg-base-200 text-base-content">
            <h1 class="text-2xl font-semibold"></h1>
            <div class="relative">
              <button id="menuButton" class="focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-100" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                  <path d="M2 10a2 2 0 012-2h12a2 2 0 012 2 2 2 0 01-2 2H4a2 2 0 01-2-2z" />
                </svg>
              </button>
              <!-- Menu Dropdown -->
              <div id="menuDropdown" class="absolute right-0 mt-2 w-48 bg-base-100 border border-neutral rounded-md shadow-lg hidden">
                <ul class="py-2 px-3">
                  <li><a href="#" class="block px-4 py-2 text-neutral-content hover:text-gray-400">Option 1</a></li>
                  <li><a href="#" class="block px-4 py-2 text-neutral-content hover:text-gray-400">Option 2</a></li>
                  <!-- Add more menu options here -->
                </ul>
              </div>
            </div>
          </header>
        
          <!-- User List -->
          <div data-controller="presence" class="hidden"></div>
            <div class="overflow-y-auto h-screen p-3 mb-9 pb-20 hidden md:block">
            <%= render "layouts/theme_select" %>
            <div data-controller="contrastslider">
                <label>
                <div class="label">
                    <span class="label-text">Text Contrast Correction</span>
                    <span data-contrastslider-target="label" class="label-text-alt">20%</span>
                </div>
                <input data-contrastslider-target="input" type="range" min="0" max="150" value="30" step="1" class="range" />
                </label>
                <input id="contrastslider_output" data-contrastslider-target="output" type="hidden">
            </div>
            <%= render "chats/userlist", chat: @chat %>
          </div>
        </div>
        
        <!-- Main Chat Area -->
        <div class="flex flex-col flex-1 md:border-r border-neutral">
            <!-- Chat Header -->
            <header class="bg-base-100 flex p-4 text-base-content">
              <button class="btn btn-secondary" onclick="chat_modal.showModal();modal_top.scrollIntoView(false);"><%= @chat.url %></button>
              <dialog id="chat_modal" class="modal modal-bottom sm:modal-middle">
                <div class="modal-box">
                  <form method="dialog">
                    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                  </form>
                  <div id="modal_top"></div>
                  <% if current_account.admin? || !@chat_user.nil? && @chat.group_chat && (@chat_user.account.id == @chat.group_chat.creator_id || @chat_user.mod? || @chat_user.mod1? || @chat_user.mod2? || @chat_user.mod3?) %>
                    <%= link_to "Edit", edit_chat_path(@chat), target: "_blank", class: "btn btn-sm" %>
                  <% end %>
                  <%= render partial: "chats/details", :locals => {:chat => @chat} %>
                </div>
                <form method="dialog" class="modal-backdrop">
                  <button>close</button>
                </form>
              </dialog>
              <div id="typing" class="md:hidden self-center pl-4">
                <%= render partial: "chats/typing_mobile", :locals => {:chat_id => @chat.id, :typing_users => @typing_users} %>
              </div>
            </header>
            
            <!-- Chat Messages -->
            <div id="messages" data-controller="autoscroll" class="flex flex-col grow max-w-full md:max-w-full overflow-y-auto md:p-4">
              <div class="flex w-auto cursor-pointer">
                <div class="flex bg-base-100 rounded-lg my-1 p-3 gap-3">
                  <p class="text-gray-500"><span class='grow whitespace-pre-wrap'>~~~ <%= link_to log_chat_path(@chat), log_chat_path(@chat), target: "_blank" %> ~~~</span></p>
                </div>
              </div>
              <% @messages.each do |message| %>
                <!-- Incoming Message -->
                <%= render message %>
              <% end %>
            </div>
            
            <!-- Chat Input -->
            <footer class="bg-base-100 border-t border-neutral md:p-4 max-w-screen w-auto">
                <div class="">
                    <%= render 'messages/rich_form', account: current_account, message: Message.new(chat_id: @chat.id, content: !@chat_user.acronym.empty? ? "<p><span><strong>#{@chat_user.acronym}:</strong>&nbsp;</span></p>" : !@chat_user.quirk_prefix.empty? ? "<p><span><strong>#{@chat_user.quirk_prefix}</strong>&nbsp;</span></p>" : "") %>
                </div>
            </footer>
        </div>
    </div>
  <% else %>
    <div class="flex "> 
        <!-- Main Chat Area -->
        <div class="">
            <!-- Chat Messages -->
            <div id="messages" data-controller="autoscroll" class="flex flex-col  overflow-y-auto p-4">
              <div class="flex  w-full cursor-pointer">
                <div class="flex bg-base-100 rounded-lg my-1 p-3 gap-3">
                  <p data-controller="colouradjust" class="text-gray-500"><span class='grow whitespace-pre-wrap'>~~~ <%= link_to chat_path(@chat), chat_path(@chat), target: "_blank" %> ~~~</span></p>
                </div>
              </div>
              <% @messages.each do |message| %>
                <!-- Incoming Message -->
                <%= render message %>
              <% end %>
            </div>
        </div>
    </div>
  <% end %>
<% end %>
