<%#
  This template is i18n-ready: if you don't use i18n, then you can replace the pagy_t
  calls with the actual strings ("&lsaquo; Prev", "Next &rsaquo;", "&hellip;").

  The link variable is set to a proc that returns the link tag.
  Usage: link.call( page_number [, text [, extra_attributes_string ]])
-%>
<% link = pagy_link_proc(pagy) -%>
<%#                            -%><nav class="pagy_nav pagination join join-item w-full flex flex-row" role="navigation">
<% if pagy.prev                -%>  <%== link.call(pagy.prev, "&lsaquo;", 'aria-label="previous" class="page next w-10 btn btn-sm join-item"') %>
<% else                        -%>  <button class="page prev w-10 btn btn-sm btn-disabled join-item"><%== "&lsaquo;" %></button>
<% end                         -%>
<% pagy.series.each do |item| # series example: [1, :gap, 7, 8, "9", 10, 11, :gap, 36] -%>
<%   if    item.is_a?(Integer) -%>  <%== link.call(item, pagy.label_for(item), 'class="page next btn btn-sm"') %>
<%   elsif item.is_a?(String)  -%>  <button class="page btn btn-sm btn-primary current join-item grow"><%= pagy.label_for(item) %></button>
<%   elsif item == :gap        -%>  <button class="page btn btn-sm btn-disabled gap join-item"><%== pagy_t('pagy.nav.gap') %></button>
<%   end                       -%>
<% end                         -%>
<% if pagy.next                -%>  <%== link.call(pagy.next, "&rsaquo;", 'aria-label="next" class="page next w-10 btn btn-sm join-item"') %>
<% else                        -%>  <button class='page next w-10 btn btn-sm btn-disabled join-item'><%== "&rsaquo;" %></button>
<% end                         -%>
<%#                            -%></nav>