<!DOCTYPE html>
<html data-theme>
  <head>
    <title>Newerparp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="min-h-screen overflow-hidden">
      <div class="bg-base-100 bg-global bg-no-repeat bg-fixed bg-cover min-h-screen md-4 flex flex-col">
        <div class="w-full h-full flex flex-col">
          <%= render "layouts/navbar" %>
        </div>
        <div class="flex flex-col space-y-4 min-h-full grow">
          <% if !notice.nil? %>
            <div class="alert alert-success pb-4">
              <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
              <span><%= notice %></span>
            </div>
          <% end %>
          <% if !alert.nil? %>
            <div class="alert alert-error pb-4">
              <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
              <span><%= alert %></span>
            </div>
          <% end %>
          <div class="opacity-70 text-base-content p-4 min-h-full grow">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
